data_dir  = "/opt/nomad/data"
datacenter = "dc1"
region = "h1"

server {
  enabled          = false
}

{% if acl_enabled is true %}
acl {
  enabled = true
}
{% endif %}

advertise {
  http = "localhost"
  rpc = "{{ ipv4_internal }}"
  #serf = "{{ ipv4_internal }}"
}

tls {
  http = true
  rpc  = true

  ca_file = "/etc/pki/ca-trust/source/anchors/hetzner_aditronic_bootstrap.pem"
  cert_file = "/etc/pki/tls/certs/hostcert.pem"
  key_file = "/etc/pki/tls/private/hostkey.pem"
}

consul {
  ssl = {{ consul_encrypt_traffic | lower }}
{% if consul_encrypt_traffic is true %}
  address = "127.0.0.1:8501"
  grpc_address = "127.0.0.1:8503"
  ca_file = "/opt/nomad/tls/ca.pem"
  grpc_ca_file = "/opt/nomad/tls/ca.pem"
  cert_file = "/opt/nomad/tls/cert.pem"
  key_file = "/opt/nomad/tls/key.pem"
  verify_ssl = true
{% else %}
  address = "127.0.0.1:8500"
  grpc_address = "127.0.0.1:8502"
{% endif %}
{% raw -%}
{{- with secret "bootstrapper_kv/data/consul/initial_management_token" }}
  token = "{{ .Data.data.key }}"
{{ end }}
{% endraw %}
  allow_unauthenticated = false
}

client {
  enabled = true
  network_interface = "{{ ansible_local.ip_interface[ipv4_internal] }}"
}

plugin "docker" {
  config {
    infra_image = "{{ infra_image }}"
  }
}
