data_dir  = "{{ data_dir }}"
datacenter = "h1"
retry_join = ["{% for member in consul_cluster | sort() %}{{ member }}{% if serf_port != 8301 %}:{{ serf_port }}{% endif %}{% if not loop.last %}", "{% endif %}{% endfor %}"]
bind_addr = "{{ ipv4_internal }}"

ui_config {
  enabled = {{ ui_enabled | lower }}
}

ports {
  server = {{ server_port }}
  grpc = 8502
{% if encrypt_traffic is defined and encrypt_traffic is true %}
  grpc_tls = {{ grpc_tls_port }}
{% endif %}
  http = 8500
  https = {{ https_port }}
}

{% if acl_enabled is true %}
acl = {
  enabled = true
  default_policy = "{{ acl_default_policy }}"
  enable_token_persistence = true
}

{% endif %}
{% if encrypt_traffic is defined and encrypt_traffic is true %}
tls {
  defaults {
    verify_incoming = false
    verify_outgoing = true
    ca_file = "/certs/ca_file.pem"
  }
  grpc {
    use_auto_cert = true
  }
  https {
    verify_incoming = false
    verify_outgoing = false
  }
}

{% endif %}
{% if encrypt_traffic is true %}
{% if auto_config is true %}
auto_config {
  enabled = true
  intro_token_file = "/opt/consul/client/tokens/jwt"
  server_addresses = ["{% for member in consul_cluster | sort() %}{{ member }}{% if not loop.last %}", "{% endif %}{% endfor %}"]
}
{% endif %}
{% endif %}
