[Unit]
Description=vault-agent
Wants=network-online.target
After=network-online.target
Requires=vault-agent-credential.service

[Service]
Type=simple
ExecStart=/usr/bin/vault agent -config /etc/vault.d/agent.hcl
ExecStopPost=rm -f {{ secret_id_file_path }}
ExecReload=kill -HUP $MAINPID
Restart=on-failure
RestartSec=30s
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
