[Unit]
Description=vault-agent-credential
Wants=network-online.target
After=network-online.target
ConditionPathExists=|!{{ vault_agent_tmpdir }}/approle_secret_id

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'curl -so {{ vault_agent_tmpdir }}/approle_payload.json {{ liaison_address }}/approle/secret_id?base64=0'
ExecStart=/bin/bash -c 'curl -sk --request POST --header "Authorization: Bearer $(cat {{ vault_agent_tmpdir }}/approle_payload.json | jq -r .token)" {{ vault_api_addr }}/v1/sys/wrapping/unwrap | jq -r ".data.secret_id" > {{ secret_id_file_path }}'
ExecStartPost=rm {{ vault_agent_tmpdir }}/approle_payload.json

[Install]
WantedBy=multi-user.target
