vault {
  address = "{{ vault_api_addr }}"
  tls_skip_verify = true
  retry {
    num_retries = 5
  }
}

auto_auth {
  method {
    type = "approle"
    mount_path = "auth/bootstrapper"
    config = {
      role_id_file_path = "{{ role_id_file_path }}"
      secret_id_file_path = "{{ secret_id_file_path }}"
    }
  }

  sink "file" {
    config = {
      path = "{{ vault_token_file }}"
    }
  }
}
