ui            = true
cluster_addr  = "https://{{ ipv4_internal }}:8201"
api_addr      = "https://{{ ipv4_internal }}:8200"
disable_mlock = true

storage "raft" {
  path    = "/opt/vault/data"
  node_id = "{{ ansible_hostname }}"
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = true
}

listener "tcp" {
  address       = "{{ ipv4_internal }}:8200"
  tls_cert_file = "/opt/vault/tls/tls.crt"
  tls_key_file  = "/opt/vault/tls/tls.key"
}
